:root { 
--white_A700_7f:#ffffff7f; 
--black_900_7f:#0000007f; 
--blue_A400:#1877f2; 
--light_green_A100:#ccff90; 
--indigo_A100:#7598ec; 
--black_900_3f:#0000003f; 
--green_500:#4caf50; 
--light_blue_900:#1a628b; 
--blue_gray_800_bf:#35325abf; 
--black_900_01:#0e0e0e; 
--green_A700:#00d564; 
--yellow_A400:#fff400; 
--teal_900:#184d40; 
--light_blue_A700:#006bf6; 
--gray_200_01:#e5e7eb; 
--blue_gray_900_02:#301a4d; 
--purple_900:#441b78; 
--blue_gray_900_01:#202442; 
--blue_gray_700:#3f4476; 
--blue_gray_900_00:#20244200; 
--blue_gray_900:#1a3150; 
--red_A700:#ff0000; 
--black_900_04:#00000004; 
--gray_600:#6f6f6f; 
--gray_900_bf:#1e0b11bf; 
--blue_gray_100:#d9d9d9; 
--blue_700:#3182bd; 
--blue_gray_100_33:#d9d9d933; 
--gray_800:#383838; 
--lime_900:#6a4f08; 
--yellow_A400_93:#fff40093; 
--gray_200:#f0f0f0; 
--gray_700_b2:#636363b2; 
--indigo_A700_7a:#003cff7a; 
--white_A700_66:#ffffff66; 
--white_A700_bf:#ffffffbf; 
--blue_50_e5:#e2e7ffe5; 
--indigo_900_01:#133b80; 
--gray_900_30:#13152130; 
--red_A700_01:#c60606; 
--white_A700:#ffffff; 
--teal_900_01:#002453; 
--light_blue_A700_01:#0784f0; 
--cyan_A200:#00ffea; 
--light_green_900_94:#59400094; 
--amber_600_94:#ffb80094; 
--white_A700_d8:#ffffffd8; 
--red_900:#b2191b; 
--light_blue_A200:#42bbff; 
--red_500:#fc4141; 
--light_blue_400:#35b6ff; 
--green_A200:#76ff94; 
--green_400:#60d669; 
--black_900_d8:#000000d8; 
--teal_600:#178e72; 
--black_900:#000000; 
--blue_gray_800:#194657; 
--deep_purple_A700:#5c08c7; 
--gray_900_02:#5e1415; 
--gray_900_03:#501a21; 
--lime_400:#dfc551; 
--gray_900_04:#141414; 
--gray_500:#a6a6a6; 
--gray_900_49:#13152149; 
--gray_900_05:#372c0f; 
--gray_200_6c:#e5e7eb6c; 
--blue_gray_400:#888888; 
--amber_600:#ffb800; 
--gray_900:#1d1b32; 
--gray_900_01:#0f1c2d; 
--blue_gray_900_03:#1e3a49; 
--orange_700:#c78f00; 
--red_900_01:#b3191b; 
--teal_A400:#00ffc2; 
--red_900_02:#8c0d0d; 
--indigo_900_bf:#133771bf; 
--indigo_900:#1c2b70; 
--white_A700_49:#ffffff49; 
}